body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f5f1;
  color: #333;
}

header {
  background-color: #f9f5f1;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #555;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #555;
}

section {
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  color: #555;
  font-size: 2rem;
}

.job {
  margin-bottom: 30px;
}

.job h3 {
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#contact p a {
  color: #d27c70;
}

#contact p a:hover {
  text-decoration: underline;
}

